.grid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(auto-fit, min_content);
}

.card {
  height: 30rem;
  background-color: var(--secundary);
  color: var(--primary-contrast);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--primary-dark);
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  justify-content: flex-start;
  
}


.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  grid-template-columns: 1fr 1fr auto;
  grid-template-rows:  10rem auto 10rem;


  @media (max-width: 768px) {
    grid-template-areas:
    "header"
    "main"
    "footer"; 

  grid-template-columns: 1fr;
  grid-template-rows: 10rem auto 10rem;
  } 
}


.header {
  grid-area: header;
  background-color: rgb(18, 22, 247);
  font-size: 2rem;
  font-style: italic;
  color: white;
  
}



.main {
  grid-area: main;
  background-color: rgb(94, 25, 206);

}

.footer {
  grid-area: footer;
  
  background-color: rgb(253, 255, 255);

  font-style: italic;
  font-size: 2rem;
  
 /*text-align: left; nao muda o text*/

 justify-content: flex;
 /*display: flex; /*quando eu coloco o card vai para o lado esquerdo mas fica grande*/ 

  
}


