.productCard {
  border: 0.25rem solid var(--primary);
  border-radius: 5rem;
  box-shadow: 0 0 1rem rgba(250, 4, 4, 0.877);
  padding: 2rem;
  text-align: center;
  background-color: white;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}

.productImage {
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.productDescription {
  font-size: 2rem;
  color: var(--primary-dark);
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}

.productButton {
  background-color: var(--primary);
  color: green;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.productButton:hover {
  background-color: rgb(255, 71, 71);
  color: white;
}