.productCard {
  border: 0.25rem solid var(--primary);
  border-radius: 5rem;
  padding: 2rem;
  text-align: center;
  background-color: white;
  text-color: white;
  
}

.productImage {
  width: 100%;
  border-radius: 0.5rem;

}

.productTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: black
}

.productDescription {
  font-size: 2rem;
  color: black;
}

.productPrice {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
}
/*botao*/
.productButton {
  background-color: var(--color5);
  color: var(--gray-900);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

/*degrade do botao*/
.productButton:hover {
  background-color: var(--primary-dark);
}